.section--experience {
  padding-top: 0;
}
.section--experience__list {
  display: flex;
  @extend %list;
}
.section--experience__item {
  margin-right: $the-most-often-px;
  &:last-child {
    margin-right: 0;
  }
}
.overlay {
  position: relative;
}
.overlay-img {
  @extend %img;
}
.overlay__title {
  position: absolute;
  @extend %centeredFlex;
  justify-content: center;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $title-text-color-secondary;
  background-color: rgba(47, 48, 58, 0.8);
}
