$title-text-color: #212121;
$primary-text-color: #757575;
$title-text-color-secondary: #ffffff;
$accent-text-color: #2196f3;
$the-most-often-px: 30px;
$icon-color: rgba(175, 177, 184, 1);
$icon-accent-color: rgba(33, 150, 243, 1);
$timing-duration: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
